<p id="notice"><%= notice %></p>

<p>
	<b>Person:</b>
	<%= @reviewer.person %>
</p>

<p>
	<b>Review:</b>
	<%= @reviewer.review %>
</p>


<%= link_to 'Edit', edit_reviewer_path(@reviewer) %> |
<%= link_to 'Back', reviewers_path %>
