<%= form_for(@hour) do |f| %>
<% if @hour.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

		<ul>
		<% @hour.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

	<div class="field">
		<%= f.label :monday %><br />
		<%= f.time_select :monday %>
	</div>
	<div class="field">
		<%= f.label :tuesday %><br />
		<%= f.time_select :tuesday %>
	</div>
	<div class="field">
		<%= f.label :wednseday %><br />
		<%= f.time_select :wednseday %>
	</div>
	<div class="field">
		<%= f.label :thursday %><br />
		<%= f.time_select :thursday %>
	</div>
	<div class="field">
		<%= f.label :friday %><br />
		<%= f.time_select :friday %>
	</div>
	<div class="field">
		<%= f.label :saturday %><br />
		<%= f.time_select :saturday %>
	</div>
	<div class="field">
		<%= f.label :sunday %><br />
		<%= f.time_select :sunday %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>