<%= form_for(@hygiene) do |f| %>
<% if @hygiene.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@hygiene.errors.count, "error") %> prohibited this hygiene from being saved:</h2>

		<ul>
		<% @hygiene.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>