<h1>Listing hygienes</h1>

<table>
	<tr>
		<th>Name</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @hygienes.each do |hygiene| %>
	<tr>
		<td><%= hygiene.name %></td>
		<td><%= link_to 'Show', hygiene %></td>
		<td><%= link_to 'Edit', edit_hygiene_path(hygiene) %></td>
		<td><%= link_to 'Destroy', hygiene, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Hygiene', new_hygiene_path %>