<%= form_for(@sound_level) do |f| %>
<% if @sound_level.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@sound_level.errors.count, "error") %> prohibited this sound_level from being saved:</h2>

		<ul>
		<% @sound_level.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>