<%= form_for(@review) do |f| %>
<% if @review.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

		<ul>
		<% @review.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

	<div class="field">
		<%= f.fields_for :establishment do |establishment_form| %>
			<%= establishment_form.label :estblishment %> <br />
			<%= select_tag :establishment, options_from_collection_for_select(@establishments, "id", "name", @review.establishment.id) %>
		<% end %>
	</div>
	<div class="field">
		<%= f.fields_for :category do |category_form| %>
			<%= category_form.label :category %> <br />
			<%= select_tag :category, options_from_collection_for_select(@categories, "id", "name", @review.category.id) %>
		<% end %>
	</div>
	<div class="field">
		<%= f.fields_for :clientele do |clientele_form| %>
			<%= clientele_form.label :clientele %> <br />
			<%= select_tag :clientele, options_from_collection_for_select(@clienteles, "id", "name", @review.clientele.id) %>
		<% end %>
	</div>
	<div class="field">
		<%= f.fields_for :sound_level do |sound_level_form| %>
			<%= sound_level_form.label :sound_level %> <br />
			<%= select_tag :sound_level, options_from_collection_for_select(@sound_levels, "id", "name", @review.sound_level.id) %>
		<% end %>
	</div>
	<div class="field">
		<%= f.fields_for :hygiene do |hygiene_form| %>
			<%= hygiene_form.label :hygiene %> <br />
			<%= select_tag :hygiene, options_from_collection_for_select(@hygienes, "id", "name", @review.hygiene.id) %>
		<% end %>
	</div>
	<div class="field">
		<%= f.fields_for :rating do |rating_form| %>
			<%= rating_form.label :rating %> <br />
			<%= select_tag :rating, options_from_collection_for_select(@ratings, "id", "value", @review.rating.id) %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :visit_date %><br />
		<%= f.date_select :visit_date %>
	</div>
	<div class="field">
		<%= f.label :comment %><br />
		<%= f.text_area :comment %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>