<p id="notice"><%= notice %></p>

<p>
	<b>Rating:</b>
	<%= @review.rating.value %>
</p>

<p>
	<b>Visit date:</b>
	<%= @review.visit_date %>
</p>

<p>
	<b>Comment:</b>
	<%= @review.comment %>
</p>

<p>
	<b>Establishment:</b>
	<%= @review.establishment.name %>
</p>

<p>
	<b>Category:</b>
	<%= @review.category.name %>
</p>

<p>
	<b>Clientele:</b>
	<%= @review.clientele.name %>
</p>

<p>
	<b>Sound level:</b>
	<%= @review.sound_level.name %>
</p>

<p>
	<b>Hygiene:</b>
	<%= @review.hygiene.name %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
