<%= form_for(@establishment) do |f| %>
<% if @establishment.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@establishment.errors.count, "error") %> prohibited this establishment from being saved:</h2>

		<ul>
		<% @establishment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :locale %><br />
		<%= f.text_field :locale %>
	</div>
	<div class="field">
		<%= f.label :city %><br />
		<%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :wardrobe_fee %><br />
		<%= f.text_field :wardrobe_fee %>
	</div>
	<div class="field">
		<%= f.label :entrance_fee %><br />
		<%= f.text_field :entrance_fee %>
	</div>
	<div class="field">
		<%= f.label :entrance_fee_start %><br />
		<%= f.time_select :entrance_fee_start %>
	</div>
	<div class="field">
		<%= f.label :comment %><br />
		<%= f.text_area :comment %>
	</div>
	<div class="field">
		<%= f.label :age_limit %><br />
		<%= f.text_field :age_limit %>
	</div>
	<div class="field">
		<%= f.label :category %><br />
		<%= select_tag :category, options_from_collection_for_select(@categories, "id", "name") %>
	</div>
	<div class="field">		
		<%= f.fields_for :tapped_beer do |tapped_beer_form| %>
			<%= tapped_beer_form.label :tapped_beer %> <%= f.label "price" %><br />
			<%= select_tag :tapped_beer, options_from_collection_for_select(@beers, "id", "name") %>
			<%= f.text_field :tapped_beer_price, :size => 3 %>
		<% end %>
	</div>
	<div class="field">
		<%= f.fields_for :bottled_beer do |tapped_beer_form| %>
			<%= tapped_beer_form.label :bottled_beer %> <%= f.label "price" %><br />
			<%= select_tag :bottled_beer, options_from_collection_for_select(@beers, "id", "name") %>
			<%= f.text_field :bottled_beer_price, :size => 3 %>
		<% end %>
	</div>
	
	<div class="field">
		<%= fields_for :closing_hour do |closing_hour_form| %>
			Closing Hour: <br />
			<div class="week_fields">
				<%= label_tag :weekday, "Weekday (Su-Th)" %>
				<%= label_tag :weekend, "Weekend (Fr-Sa)" %>			
				<br />

				<%= closing_hour_form.time_select :weekday, :minute_step => 30, :ignore_date => true %>
				<%= closing_hour_form.time_select :weekend, :minute_step => 30, :ignore_date => true %>
			</div>
			
			<%= render "hour_fields", :form => closing_hour_form, :cls => "closing_hour" %>
		<% end %>
	</div>
	
	<div class="field">
		<%= fields_for :opening_hour do |opening_hour_form| %>
			Opening Hour: <br />
			<div class="week_fields">
				<%= label_tag :weekday, "Weekday (Su-Th)" %>
				<%= label_tag :weekend, "Weekend (Fr-Sa)" %>			
				<br />

				<%= opening_hour_form.time_select :weekday, :minute_step => 30, :ignore_date => true %>
				<%= opening_hour_form.time_select :weekend, :minute_step => 30, :ignore_date => true %>
			</div>
			
			<%= render "hour_fields", :form => opening_hour_form, :cls => "opening_hour" %>
		<% end %>
	</div>

	<div class="field">
		<%= link_to "Toggle advanced fields", "#", :id => "toggle_advanced_fields" %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>