<table class="tableListing">
	<tr>
		<th>Name</th>
		<th>Locale</th>
		<th>City</th>
		<th>Age limit</th>
		<th>Category</th>
		<th>Rating</th>
		<th>Bottled Beer</th>
		<th>Tapped Beer</th>
		<th>Wardrobe fee</th>
		<th>Entrance fee</th>
		<th>Entrance fee start</th>
		<th>Comment</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @establishments.each do |establishment| %>
	<tr>
		<td><%= establishment.name %></td>
		<td><%= establishment.locale %></td>
		<td><%= establishment.city %></td>
		<td><%= establishment.age_limit %></td>
		<td><%= establishment.category.name %></td>
		<td><%= establishment.average_rating %></td>
		<td><%= establishment.bottled_beer.name %></td>
		<td><%= establishment.tapped_beer.name %></td>
		<td><%= establishment.wardrobe_fee %></td>
		<td><%= establishment.entrance_fee %></td>
		<td><%= establishment.entrance_fee_start %></td>
		<td><%= establishment.comment %></td>
		<td><%= link_to 'Show', establishment %></td>
		<td><%= link_to 'Edit', edit_establishment_path(establishment) %></td>
		<td><%= link_to 'Destroy', establishment, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>